html,body,img,ul,li,p,section,h2,h3,section,input,form{
    margin: 0px;
    padding: 0px;
}

body{
    background: #eee;
    font-family: Arial;
    font-size: 14px;
    color: #000;

}

a{
    text-decoration: none;
    color: #fff;
     font-size: 14px;
}

#header,#content,#footer{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header{
    background: #522a5c;
    height: 80px;
}

.nav{
    width: 980px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.nav > img{
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-top: 15px;
}

.nav ul{
    bottom: 5px;
    right: 0px;
    position: absolute;
    overflow: hidden;
}

.nav ul li{
    list-style-type: none;
    margin-left: 28px;
    float: left;
}

.nav li:nth-child(1){
    margin-left: 0;
}

.icon-github{
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 30px;
    height: 34px;
}

#content{
    width: 980px;
    margin: 0 atuo;
    margin-top: 20px;
}

.left-content{
    width: 710px;
    position: relative;
    float: left;
}

section{
    position: relative;
    margin-bottom: 10px;
}



.tag{
    position: absolute;
    width: 50px;
    left: -50px;
    top: 26px;
}

.tag p{
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    vertical-align: middle;
}

.tag p:nth-child(1){
    background: #522a5c;
}

.tag p:nth-child(2){
    background: #a660b7;
}

.article{
    width: 670px;
    background: #fff;
    padding: 20px;
    padding-bottom: 15px;
    overflow: hidden;
}

.article h2 a{
    font-size: 16px;
    line-height: 20px;
    color: #a660b7;
}

.article h3{
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.abstract{
    margin-top: 10px;
}

.article p{
    text-indent: 2em;
    font-size: 12px;
    line-height: 20px;
    word-wrap:break-word; 

}

.author{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    color: #999;
    font-size: 12px;
}

.right-content{
    width: 260px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}

form{
    padding: 0;
    margin: 0;
}

input{
    float: left;
}

.search{
    width: 220px;
    height: 40px;
    padding: 20px;
    background: #fff;
    overflow: hidden;
}

.search_key{
    width: 120px;
    height: 38px;
    line-height: 40px;
    font-size: 20px;
    color:#ddd;
    border: 1px solid #ddd;
    padding-right: 10px;
    padding-left: 40px;
    background: url(../img/search.gif) no-repeat 5px 5px ;
}

.btn_submit{
    width: 48px;
    height: 40px;
    background: #ddd;
    font-size: 20px;
    color: #fff;
    border: 0;
}

.classify{
    width: 260px;
    height: 201px;
    margin-top: 10px;
    background: #fff;
}

.classify ul{
    width: 260px;
    height: 200px;
    border-bottom: 1px solid #ddd;
}


.classify ul li{
    height: 49px;
    border-top: 1px solid #ddd;
    
}

.no_select_classify{
    color: #666666;
    border-left: 4px solid #dfc6e6;
    height: 49px;
    line-height: 49px;
    padding-left: 20px;
    display: block;
}

#right_nav a{
    color: red;
}



.classify ul li a:hover
{
    border-left: 4px solid #522a5c;
}


.select_classify{
    color: #666666;
    border-left: 4px solid #522a5c;
    height: 49px;
    line-height: 49px;
    padding-left: 20px;
    display: block;
}


