html,body,div,img,a,ul,li,h2,p{
    margin:0;
    padding: 0;
}

body{
    font-family:Arial,sans-serif;
    font-size: 14px;

}

a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style-type: none;
}

.clc{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

#container{
    background: #eee;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#header{
    width: 100%;
    height: 80px;
    background: #522a5c;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.nav{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    padding: 0;


}

.github{
    position: absolute;
    right: 10px;
    bottom: -4px;
}

.github img{
    border: 0;
    width: 30px;
    height: 34px;
}

.logo{
    margin-top: 45px;
    float: left;
}
.logo a{
    text-decoration: none;
    font-size: 24px;
}

.nav-right{
    float: right;
    margin-top: 55px;
}
.nav-right ul{
    color: #fff;
    font-size: 14px;
    font-family: "宋体";
}
.nav-right ul li{
    list-style-type: none;
    float: left;
    margin-left: 28px;
}

#banner{
    width: 100%;
    position: relative;
}

#banner img{
    width: 100%;
    height: 100%;
    
}

.banner-content{
    background: -moz-linear-gradient(top, rgba(255,255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(255,255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0,rgba(255, 255, 255, 0.7)),color-stop(0.75,rgba(255, 255, 255, 0.5)),color-stop(1, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(255,255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    width: 340px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: 110px;
    padding: 10px 10px 30px 10px;
    overflow: hidden;
}

.banner-content h2{
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    float: right;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 5px;
}
.banner-content p{
    font-size: 12px;
    line-height: 1.5;
    text-indent: 2em;
    overflow: hidden;
    overflow: hidden;
    clear: both;
}



#content{
    width: 980px;
    height: auto;
    margin:10px auto 0;
    padding: 0px;
    overflow: hidden;
}

#content ul{
    width: 980px;
    height: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

#content li{
    width: 300px;
    background: #fff;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    display: table-cell;
    border-left: 10px solid #eee;
   
}

#content li.first{
    /*margin: 0px;*/
    border-left: 0px;
}

#content li img{
    width: 300px;
    height: 180px;
    border: 0;
}

#content p{
    font-size: 12px;
    line-height: 1.7;
    text-indent: 2em;
    margin:15px 20px 15px 20px;
    cursor: pointer;
}

#content p a{
    color: #000;
}
#content p a:hover{
    text-decoration: underline;
}

#author{
    width: 100%;
    margin-top: 80px;
    position: relative;
    background: #fff;
    padding-top: 160px;
    padding-bottom: 150px;
}
#author img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -80px;
    display: block;
}

#author h2{
    margin: 0 auto;
    padding:0;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial;
    color: #000;
}

#author p{
    width: 600px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 50px auto 0;
    text-indent: 2em;
}

#footer{
    background: #000;
    width: 100%;
    height: 400px;
   position: relative;
}

.footer-nav{
    height: 35px;
    color: #fff;
    width: 160px;
    margin: 0 auto;
}

.footer-nav li{
    list-style-type: none;
    float: left;
    font-size: 12px;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 8px;
}

.footer-nav li:nth-child(1){
    margin-left: 0;
}

.friend{
    border-top: 1px solid #333;
}

ul.layer-one{
    margin-left: 110px;
    margin-top: 40;
}

ul.layer-one > li{
    float: left;
    margin-left: 130px;
    font-size: 12px;
}

ul.layer-one > li:nth-child(1){
    margin-left: 0;
}

ul.layer-two{
    margin-top: 20px;
    font-size: 12px;
}
ul.layer-two >li{
    line-height: 20px;
}
ul.layer-two a:hover{
    text-decoration: underline;
}

.github-bottom span{
    position: absolute;
    bottom: 44px;
    left: 50%;
    color: #fff;
}
.github-bottom img{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: 15px;
}

@media screen and (max-width: 980px){
    .github{
        display: none;
    }
}